.wrapper
  = render "side-bar"
  .chat
    .header
      .left-header
        .left-header__name
          グループ名
        .left-header__member
          Aちゃん
      .right-header
        .right-header__button
          Edit

    .messages
      .message
        .up-message
          .up-message__name
            Aちゃん
          .up-message__date
            2019/8/31
        .down-message
          Hello!
      .message
        .up-message
          .up-message__name
            Bちゃん
          .up-message__date
            2019/8/31
        .down-message
          Hi!
    .form
      %form
        %input.form__text{:placeholder => "Type a message"}
        .form__buttom
          %label.form__buttom__image
            = fa_icon 'picture-o'
            %input.hide{type: 'file'}
        %input.form__submit{:type => "submit", :value => "send"}


      